<p> This is one of two weekly checkins - one on Monday, one on Friday. </p>
<%= link_to 'Rolling Checkin - Oleg', 'https://omaps-internal.herokuapp.com/checkin_oleg' %>
<p> Tomorrow a summary of all answers of all team members will be sent out. </p>
