<p> This is one of two weekly checkins: </p>
<%= link_to 'Rolling Checkin - Johannes', 'https://omaps-internal.herokuapp.com/checkin_johannes' %>
<p> Tomorrow we will send you a summary of all answers by all team members.  </p>
