<p> This is the weekly Owlmaps Checkin - one each Friday. </p>
<%= link_to 'Owlmaps Checkin - Oleg', 'https://omaps-internal.herokuapp.com/checkin_oleg' %>
<p> On Monday a summary of all answers of all team members will be sent out. </p>
