<h4> Reasons: </h4>
<p> It's low quality brain occupyance. It's a bad mental diet. </p>
<p> It's not even good rest. </p>
<p> It pushes out more fundamentally nourishing activites. </p>
<p> Conversely, avoiding TV gives you a lot more time for things that are fundamentally satisfying. </p>
