<h4> Reasons: </h4>
<p> TV its low quality brain occupyance. It sort of makes you dumb. </p>
<p> It's not even good, genuine, fundamental rest. </p>
<p> It pushes out more fundamentally enjoyable, valuable and nourishing activites. </p>
<p> Conversely, avoiding TV gives you a lot more time for things that are fundamentally satisfying. </p>
