
<h1> Project OwlMaps </h1>

<h3> Current Phase - what are we currently trying to do in principle. </h3>
<p> <%= @current_phase if @current_phase %> </p>

<h3> Next Milestone - whats the next milestone ahead? </h3>
<p> <%= @current_milestone if @current_milestone %> </p>

<h3>Responsibility Statuses</h3>

<br>
<h3>Rolling Check-ins</h3>
<p> The rolling Check-ins for all Team members are set to occur at an interval of 2 days. </p>
