    <!DOCTYPE html>
<html>
<head>
  <title>Project OwlMaps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="simple_container">
    <%= yield %>
</div>

</body>
</html>


<!--
    deploy
    in broad strokes communicate what this is for (not too tight though)
-->

