<!DOCTYPE html>
<html>
<head>
  <title>Project OwlMaps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="simple_container">
    <%= yield %>
</div>

</body>
</html>

<!--
  for some odd reason, with each new deployment
  I have to use:
  https://accounts.google.com/DisplayUnlockCaptcha
  to ensure the apps access to Gmail. (figure out systematic solution later.)
-->

<!--
    daily count.
-->
